# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [8]:
type(6)

int

In [11]:
type('hello')

str

In [10]:
type(-87.8)

float

#('*','-','/','+') are mathematical operators.

# 2. What is the difference between string and variable?

In [1]:
#String is just a type of variable.
#A string is written between quotes("") and variables are used to store values.
#ex.

In [3]:
I = "kalpesh"

In [4]:
I

'kalpesh'

In [5]:
type(I)

str

In [6]:
# here I is variable use to store value.
# "kalpesh" is a string

# 3. Describe three different data types.

1. int - It stores the integer values that can be negetive or positive and do not contain any decimal points.

In [9]:
a = 56

In [11]:
type(a)

int

2. Float - These are floting points real numbers that store the decimal values.

In [12]:
b = 59.69

In [13]:
type(b)

float

3. string - string is a sequence of character enclose under single quotes, double quotes, triple quotes.the character present in string can be any digit,letter,special symbols.

In [23]:
c = 'hello'
d = "5945" 
e = '''$$45.95'''

In [24]:
type(c)

str

In [25]:
type(d)

str

In [26]:
type(e)

str


# 4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators like arithmetic operator,comperison operator, logical operator assignment operator etc

In [28]:
a = 5
b = 5

Airthmetic operator 
+ , - , * , / , etc

In [29]:
a+b

10

In [30]:
a-b

0

In [31]:
a/b

1.0

In [32]:
a*b

25

Assignment operator
= , += , -= , etc

In [34]:
a = b

In [35]:
a += b

In [36]:
a -= b

comperison operator
== , > , >= ,< , etc

In [37]:
a==b

True

In [38]:
a<b

False

In [39]:
a>b

False

In [40]:
a>=b

True

logical operator
and,or, etc

In [41]:
a and b

5

In [45]:
a or b

5

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [3]:
like_Spam = 10

Expression is made up of values, containers, and mathematical operators (operands), here 10 is value and the statement is just like a command that a python interpreter executes like print.

# 6. After running the following code, what does the variable bacon contain?

In [4]:
bacon = 22

In [5]:
bacon + 1

23

In [6]:
bacon

22

# 7. What should the values of the following two terms be?

In [8]:
'spam' + 'spamspam'

'spamspamspam'

In [9]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [10]:
eggs = "anda"

In [11]:
100 = "anda" #Variable names cannot begin with a number

SyntaxError: cannot assign to literal (<ipython-input-11-817400fa2064>, line 1)

The expression causes an error because 100 is an integer, and only strings can be concatenated to other strings with the + operator.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

# 10. Why does this expression cause an error? How can you fix it?

In [18]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [19]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'